# Supabase Credentials
VITE_SUPABASE_URL=https://vapcayynxymhonkhlwdm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhcGNheXlueHltaG9ua2hsd2RtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMDEyMjYsImV4cCI6MjA5NDc3NzIyNn0.Pgwp1bIf8tzgTqNh8ciw5b-b48w22mtIU3th_wOgNCQ

# API Backend
VITE_API_URL=http://localhost:8000
